body {
    background-color: aquamarine;

}

button {
    width: 160px;
    height: 100px;
    background-color: blue;
}

div {
    width: 280px;
    height: 160px;
    background-color: azure;
    box-shadow: 10px 15px 15px;
    display: flex; /* precisa do display para alterar vertical e horizontal*/
    align-items: center; /*vertical*/
    text-align: center; /* horizontal*/
    border: solid #c0c0c0 1px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 20px;

}

div#Caixa {
    display: none;
    width: 180px;
    height: 100px;
    background-color: brown;

}



